<ul class="list-314">
  	<li>
  		<div class="outer">
  			<img src="img/icon-1.png"/>
  			<p>3d云设计</p>
		</div>
  		<div class="scale-wrap">
  			<div class="top">
	  			<img src="img/icon-1.png"/>
	  			<p>3d云设计</p>
  			</div>
  			<div class="bottom">
  				<p>全新VR时代，虚拟现实 快速体验</p>
  				<a href="" class="btn btn-default">我要体验</a>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="outer">
	  			<img src="img/icon-2.png"/>
	  			<p>防伪体验</p>
  		</div>
  		<div class="scale-wrap">
  			<div class="top">
	  			<img src="img/icon-2.png"/>
	  			<p>防伪体验</p>
  			</div>
  			<div class="bottom">
  				<p>全新VR时代，虚拟现实 快速体验</p>
  				<a href="" class="btn btn-default">我要体验</a>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="outer">
	  			<img src="img/icon-3.png"/>
	  			<p>720vr体验</p>
  			</div>
  		<div class="scale-wrap">
  			<div class="top">
	  			<img src="img/icon-3.png"/>
	  			<p>720vr体验</p>
  			</div>
  			<div class="bottom">
  				<p>全新VR时代，虚拟现实 快速体验</p>
  				<a href="" class="btn btn-default">我要体验</a>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="outer">
	  			<img src="img/icon-4.png"/>
	  			<p>加盟政策</p>
  			</div>
  		<div class="scale-wrap">
  			<div class="top">
	  			<img src="img/icon-4.png"/>
	  			<p>加盟政策</p>
  			</div>
  			<div class="bottom">
  				<p>全新VR时代，虚拟现实 快速体验</p>
  				<a href="" class="btn btn-default">我要体验</a>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="outer">
	  			<img src="img/icon-5.png"/>
	  			<p>321金牌 服务</p>
  			</div>
  		<div class="scale-wrap">
  			<div class="top">
	  			<img src="img/icon-5.png"/>
	  			<p>321金牌 服务</p>
  			</div>
  			<div class="bottom">
  				<p>全新VR时代，虚拟现实 快速体验</p>
  				<a href="" class="btn btn-default">我要体验</a>
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="outer">
  			<img src="img/icon-6.png"/>
  			<p>在线客服</p>
		</div>
  		<div class="scale-wrap">
  			<div class="top">
	  			<img src="img/icon-6.png"/>
	  			<p>在线客服</p>
  			</div>
  			<div class="bottom">
  				<p>全新VR时代，虚拟现实 快速体验</p>
  				<a href="" class="btn btn-default">我要体验</a>
  			</div>
  		</div>
  	</li>
  </ul>