<div class="messageWrap">
	<div class="messageform">
			<h3>请专属品牌顾问为您咨询<small>留下您的联系方式<br /> 我们的品牌顾问将与您联系</small></h3> 
			<form action="" method="post" class="form-horizontal">
				<div class="form-group">
					<label for=""><img src="img/xmx1.png"/></label>
				      <input type="text" class="form-control" placeholder="姓名（必填）">
				</div>
				<div class="form-group">
					<label for=""><img src="img/xmx2.png"/></label>
				      <input type="text" class="form-control" placeholder="手机（必填）">
				</div>
				<div class="form-group">
					<label for=""><img src="img/xmx3.png"/></label>
				      <input type="text" class="form-control" placeholder="企业（必填）">
				</div>
				<div class="form-group">
					<label for=""><img src="img/xmx4.png"/></label>
				      <input type="text" class="form-control" placeholder="合作需求">
				</div>
				<div class="form-group">
					<label for=""><img src="img/xmx5.png"/></label>
				      <input type="text" class="form-control" placeholder="邮箱">
				</div>
				<input type="submit" value="提交信息" class="form-control"/>
			</form>
			<div class="close">X</div>
	</div>
	<div class="mask"></div>
</div>

