<ul class="default-list">
	<li class="hvr-glow">
		<a href="">
			<h4>黄石系列</h4>
			<small>xxxx型号</small>
			<img src="img/product_05.jpg"/>
		</a>
	</li>
	<li class="hvr-glow">
		<a href="">
			<h4>黄石系列</h4>
			<small>xxxx型号</small>
			<img src="img/product_05.jpg"/>
		</a>
	</li>
	<li class="hvr-glow">
		<a href="">
			<h4>黄石系列</h4>
			<small>xxxx型号</small>
			<img src="img/product_05.jpg"/>
		</a>
	</li>
	<li class="hvr-glow">
		<a href="">
			<h4>黄石系列</h4>
			<small>xxxx型号</small>
			<img src="img/product_05.jpg"/>
		</a>
	</li>
	<li class="hvr-glow">
		<a href="">
			<h4>黄石系列</h4>
			<small>xxxx型号</small>
			<img src="img/product_05.jpg"/>
		</a>
	</li>
	<li class="hvr-glow">
		<a href="">
			<h4>黄石系列</h4>
			<small>xxxx型号</small>
			<img src="img/product_05.jpg"/>
		</a>
	</li>
</ul>
