<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<%= require('@/head/index.ejs')() %>
		<div class="about-body">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
		<%= require('@/footer/index.ejs')() %>
	</body>

</html>
