<div class="header">
	<div class="g-container">
		<div class="logo">
			<a href="/"><img src="img/logo.png"/></a>
		</div>
		<div class="nav-bar">
			<div class="bar">
				<p>新 梦 想 品 牌 顾 问</p>
				<span class="ff">&#xe603;</span><i>15989959741</i>
			</div>
			<ul class="nav">
				<li class="on"><a href="/">首页</a></li>
				<li><a href="">案例</a></li>
				<li><a href="/about.html">关于新梦想</a></li>
				<li><a href="">我们的服务</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
			
		</div>
	</div>
</div>
