		<div class="footer">
			<ul class="f-nav">
				<li><a href="">· 服务案例 </a></li>
				<li><a href="">· 关于我们 </a></li>
				<li><a href="">· 我们的服务</a></li>
				<li><a href="">· 联系我们</a></li>
			</ul>
			<div class="g-container">
				<p>服务热线 / 15989959741</p>
				<p>联系邮箱 / 646640016@qq.com</p>
				<br />
				<p>营销总部 / 上海市徐汇区徐虹中路西岸创意园</p>
				<p>华东总部 / 浙江省嘉兴市北科建创新园</p>
				<p>华南总部 / 广东省佛山市中国陶瓷总部基地 CCIH</p>
				<div class="copy-right">
					COPYRIGHT © 2015-2025 新梦想品牌营销策划有限公司 ALL RIGHTS TESERVED
				</div>
			</div>
			<!--<ul class="right-float-bar">
				<li class="toTop">
					<span class="ff">
						&#xe6a9;
					</span>
					<p>TOP</p>
				</li>
				<li>
					<a href="javascript:void(0)" class="onlineConsult">
						<p>在线 咨询</p>
					</a>
				</li>
			</ul>-->
			<%= require('@/rightbar/index.ejs')()%>
		</div>
		
		
