<div class="mapWrap">
	<h2>新梦想策划</h2>
	<ul class="list-wrap">
		<li data-gps='121.430947,31.194621' data-have='1'>营销总部</li>
		<li data-gps='120.685313,30.771606'>华东总部</li>
		<li data-gps='113.01715,23.006257'>华南总部</li>
	</ul>
	<div id="allmap" style="height: 600px"></div>  	
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=700b132845ef5b0b135066dfa0222a37"></script>