<div class="banner">
	<div class="swiper-container" data-swiper data-autoplay='2000'>
	  <div class="swiper-wrapper">
	    <div class="swiper-slide">
	    	<img src="img/banner_03.jpg"/>
	    </div>
	    <div class="swiper-slide">
	    	<img src="img/banner_03.jpg"/>
	    </div>
	  </div>
	</div>
</div>