<div class="right-bar">
	<ul>
		<li><a href=""><img src="img/icon-30.png"/></a></li>
		<li><a href=""><img src="img/icon-31.png"/></a></li>
		<li><a href=""><img src="img/icon-32.png"/></a></li>
	</ul>
</div>